---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17

IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never

ColumnLimit: 0
ReflowComments: false
SortIncludes: Never

BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Pointer

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

BinPackArguments: true
BinPackParameters: BinPack
